@font-face {
  font-family: 'Graphik';
  src: url(fonts/Graphik-Regular.woff);
}

* {
  box-sizing: border-box;
  margin: 0
}

section{
  margin-top:5%;
}

body {
  background-color: #181818;
  overflow-x: hidden;
  font-family: 'Graphik';
}

/* MediaQueries */

@media (min-width:) {
  .navbar-collapse {
    margin-left: -25%
  }

  .nav-button1 {
    margin-left: 50%;
  }
}

/**/

/*Navbar Start*/

.navbar {
  padding: 2% 0%;
  box-shadow: none;
  display: flex;
  justify-content: space-between !important;
  width:100% !important;
  padding-left: 20%;
  padding-right: 20%;
}

.navbar-nav{
  margin-left:20%;
}
.nav-button1{
  margin-left:20%;
  white-space:nowrap;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.navbar-nav .nav-link {
  margin-right: 1rem;
  transition: all 0.3s ease;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.navbar-nav .nav-link:hover {
  background-image: linear-gradient(to right, #ff6ed6 50%, #bc38ddf1 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 2s;
}

.btn-outline-light {
  border-color: #fff;
  color: #fff;
  transition: all 0.3s ease;
  width: fit-content;
  padding: 13px 46.5px;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #000;
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler .bar1 {
  width: 44px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.navbar-toggler .bar2 {
  width: 36px !important;
  height: 3px;
  background-color: #fff;
  transition: 0.4s;
}

.navbar-toggler .bar3 {
  height: 3px;
  background-color: #fff;
  transition: 0.4s;
  width: 28px !important;
}


/* Animation */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: all
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
}

/*Navbar end */

/*Section 1 */
.s1{
  margin-top:10%;
}

.text-section {
  justify-content: center;
  display: grid;
}

.s1-h1 {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding:0 17%
}

.s1-p {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-top:2%;
  padding:0 20%;
}

.btn-s1-1{
  background: #4452FE;
  padding:20px 40px;
  border: none;
}

.btn-s1-1:hover{
transform: scale(1.1);
transition: 1s;}

.btn-s1-2{
  background: transparent;
  padding:20px 40px;
  border:1px solid #ffffff;
}



.btn-s1-2:hover{
  transform: scale(1.1);
  transition: 1s;
}

.btn-s1-1 a,.btn-s1-2 a{
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
color: #FFFFFF;
}

.s1-img img{width:100% !important;
height: 100%;
padding:0 !important;
margin-top: 2%;}

.s1-img{
  position:relative;
}

.gradient-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
  opacity: 0.3;
}

/* Section 1 end*/

/* Section 2 Start */
.s2-h1{
  font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 62px;
letter-spacing: 0.2px;
color: #FFFFFF;
text-align:center;
}

.s2-p{
  font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
padding: 0 20%;
}
.img-section-2 {
  position: relative;
}

.s2-img-1 {
  width: 100%;
  max-width: 400px;
  height: auto;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}

.s2-img-2 {
  position: absolute;
  width: 50%;
  height: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}

.s2-h5{
  font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.1px;
color: #FFFFFF;
margin-left: 13px;
}

.s2-p2{
  margin-top: 20px;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding:0% 15%;
}

.list-item-s2{
  display:grid !important;
}

.list-section-2 img{
width: 10%;
}

.list-item-s2 > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Section 2 End*/

/*Section 3 Start*/
.s3{
  margin-top:10%;
}

.s3-h5{
  font-family: 'Graphik';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.1px;
color: #000000;
margin-top:10%
}

.s3-p{
  font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #5C5C5C;
padding:3% 20%;
}
.s3 .card{
  background: #FFFFFF;
border: 1px solid #D3D3D3;
box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
border-radius: 10px;
width:40%;
}
@media (max-width:768px) {
 .s3 .card{ width:100% !important;
padding:0 10% !important
margin-top:5% !important;
margin:5% 0 0 0 !important}
}
.img-s3-1{
  margin-top:30%;
border: 3.52131px solid #000000;
border-radius: 4.56393px 4.56393px 0px 0px;
}
.card-s3-2{
  display: flex;
}
.btns3{
  margin-top:12%;
}

.hr{
  display:flex;
  justify-content: center;
  align-items: center;
  background: #D8D8D8;
  height:8px;
  border-radius:33px;
}
.hr-sub{
  background: #9FA2A5;
  height:5px;
  text-align: center;
  width:25%;
  border-radius: 33px;
}
.hr1{
  
  border-radius: 33px;
  height: 4.72px;
  background: #9FA2A5;
}
/* Section 3 End */

/*Section 4 Start*/

.s4{
  margin-top: 5%;
}

.s4 img{
  border-radius: 33px;
}

.s4 button{
  margin-top:5%
}
.secondrow-s4{
  margin-top:2%;
}
.mobile-s4{
  display: grid !important;
}
.mobile-s4 img{
  padding:3% 30% 3% 30%;
  width:329px;
}

@media (max-width: 767px) {
  .desktop-s4 img{
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-s4 img {
    display: none;
  }
}
/*Section 4 End */

/*Section 5 Start*/

.partner-s5 img {
  height: 30px;
  width: auto;
  margin-top:5%;
}

@media (max-width: 767px) {
  .partner-s5 .row {
    flex-wrap: wrap;
  }
  .partner-s5 .col-md-4 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

.button-s5{
  margin-top:5%;
}

/* Section 6 Start*/
.card-s6 {
  padding: 1.5rem;
}

.card-s6 img {
  display: block;
  margin: 0 auto;
}

.card-s6 .align-items-center {
  margin-bottom: 1.5rem;
}

.card-s6 .col-9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1.5rem;
}

.card-s6 .span-s6-1 {
  margin-bottom: 1%;
}

.card-s6 .span-s6-1 a {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-s6 .p-s6 {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.card-s6 .s6-text-2 .p-s6-2 {
  margin-bottom: 0;
  font-size: 1.1rem;}

.card-s6 img{
  width:50px;
}
.card-s6{
  padding:40px;
  background: transparent;
  border: 1px solid #FFFFFF;
}

.card-s6 .p-s6-2{
  padding:40px 70px 40px 40px;
  font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.2px;

/* light text */

color: #FFFFFF;

}
.card-s6 .p-s6{
  font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.2px;

/* light text */

color: #FFFFFF;

}
/*Section 6 End*/
/*Section 7 Start*/
.s7{
  padding:5% 12%;
}

.card-s7 {
  background: #343434;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 33px;
  
}

.card-content {
  padding: 10% 17%;
}

.s7-h1 {
  color: #ffffff;
}

.btn-s1-1 {
  background-color: #4452FE;
  color: #343434;
  padding: 15px 35px;
  font-weight: bold;
  font-size: 20px;
}

.btn-s1-1:hover {
  background-color: #343434;
  color: #ffffff;
}

.card-s7 img {
  position: absolute; 
  bottom: 0;
    right: 0;
  max-width: 50%; 
  border-bottom-right-radius: 33px;
  margin-left:-2%;
  width:50%;
}
@media (max-width: 767px) {
  .card-content {
    padding: 5% 5%;
    text-align: center;
  }
  
  .card-s7 .row {
    flex-direction: column;
    align-items: center;
  }
  
  .card-s7 img {
    position: relative;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 33px;
    width: 100%;
    height:auto;
    margin: 0;
    padding-top: 5%;
    border-bottom-left-radius: 33px;  
    object-fit: cover;
  }
}



/* Section 8 Start*/

@media (max-width: 767px) {
  footer .col-md-3 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  footer .row:nth-child(1),
  footer .row:nth-child(2),
  footer .row.social-icons {
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  footer .row:nth-child(1) .col-md-3,
  footer .row:nth-child(2) .col-md-3,
  footer .row.social-icons .col-md-3 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  footer .row:nth-child(1) .col-md-3 ul li,
  footer .row:nth-child(2) .col-md-3 p,
  footer .row.social-icons .col-md-3 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  footer .row.social-icons .col-md-3 a {
    display: block;
    margin: 0 auto;
  }
}

footer {
  background: transparent;
  color: #ffffff;
  margin-bottom: 5%;
}

footer h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

footer p{
  padding:0 !important
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
}

footer .social-icons {
  margin-top: 1rem;
}

footer .social-icons a {
  color: #ffffff;
  margin-right: 0.5rem;
}

footer .nav-link-footer:hover {
  background-image: linear-gradient(to right, #ff6ed6 50%, #bc38ddf1 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 2s;}
.s8{
  margin-top:15%;
}